importFrom("graphics", "plot")
importFrom("utils", "object.size", "str")

exportClasses("ProcessData",
              "ContinuousProcess",
              "MarkedPointProcess",
              "JumpProcess")

exportMethods("continuousProcess",
              "colNames",
              "dim",
              "getColumns",
              "getId",
              "getFactors",
              "getPointId",
              "getMarkType",
              "getMarkValue",
              "getNumerics",
              "getPlotData",
              "getPointTime",
              "getPointPosition",
              "getPointPointer",
              "getPosition",
              "getTime",
              "getValue",
              "getUnitData",
              "integrator",
              "jumpProcess",
              "markedPointProcess",
              "object.size",
              "plot",
              "process",
              "str",
              "subset",
              "summary",
              "unsubset",
              "[")
              
