S3method(dfEff,default)
S3method(dfEff,multModel)
S3method(dim,multModel)
S3method(dpredict,multModel)
S3method(fit,multModel)
S3method(grad,default)
S3method(grad,multModel)
S3method(loss,default)
S3method(loss,multModel)
S3method(predict,multModel)
S3method(response,multModel)
S3method(risk,default)
S3method(riskHat,default)
S3method(riskHat,multModel)
export(coordinateDescent)
export(coordinateDescentMF)
export(coordinateDescentQuad)
export(dfEff)
export(dpredict)
export(fit)
export(grad)
export(loss)
export(multModel)
export(penalty)
export(progressBar)
export(response)
export(risk)
export(riskHat)
importFrom(stats,predict)
